
@keyframes opacityAnimation {
    0% {
        opacity: 0.5;
        transform: translateY(20px);
    }
    50% {
        opacity: 0.75;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotate-back {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.rotate-animation {
    animation: rotate 0.5s ease-in-out forwards;
}

.rotate-back {
    animation: rotate-back 0.5s ease-in-out forwards;
}

/* Apply animation to the rotate-back class */
.rotate-back {
    animation: rotateBack 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-content {
    opacity: 0;
}

.animated-content.visible {
    opacity: 1;
    animation: fadeInUp 1.5s ease forwards; /* Apply keyframes animation */
}
.nav-brand {
    text-decoration: none;
    color: white;
}
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    left: -1000px;
    top: 0;

    background-color: #f8f9fa;
    transition: all 1s;
}

.navbar-togglers:hover {
    cursor: pointer;
}

.sidebar.active {
    left: 0;
    width: 3000vh;
    height: fit-content;
    z-index: 99;
    background-color: #1b1b1b;
    
}

.sidebar-open {

  
}

.sidebar-opens{
    height: 1000vh;
}
.nav-link {
    font-family: "Roboto";
width: fit-content;
    color: #bdbdbd !important; /* Default color */
    font-size: 42px !important;
}

.nav-link br {
display: none!important;
}

.footer-group a {
    text-decoration: none;
    color: black;
}

.mob{
    display: none;
}
.foot{
    padding: 3vh 3vw 3vh 3vw!important;
}

.clicked-side {
    color: #ffffff !important;
}

.fa {
    z-index: 999;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.nav-test {
    padding: 10vh 15vh 10vh 15vh !important;
    color: white !important;
    background-color: transparent !important;
}
.pad-work button{

}
.clicked {
    color: rgb(243, 243, 243) !important;
}
/* HOME */
.big-text {
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.big-text h1 {
    font-size: 100px;
    font-weight: 700;
}
.big-text h3 {
    font-size: 28px;
    font-weight: 100;
}
.home-text {
    font-weight: bolder;
}
.pad-home {
    padding-left: 10vw !important;
    padding-bottom: 7vw !important;
}

.top-home {
    animation: opacityAnimation 1s ease;
    background-image: url("https://assets-global.website-files.com/615debf1cfbb412003bad8aa/615e21cb2c45d0327ec6940d_hero1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.pad-home img {
    width: 30px;
}

.home-2 {
    padding-left: 5vw !important;
    padding-top: 30vh !important;
}

.home-bot {
    padding-top: 35vh;
    padding-bottom: 40vh;
}

.home-bot .single {
    max-width: 500px;
}

.pad-bot a {
    text-decoration: none;
    color: black;
}
/* ABOUT */

.top-about {
    background-image: url("https://assets-global.website-files.com/615debf1cfbb412003bad8aa/615e212fe71b3e62e1885c7f_about-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.pad-about {
    padding-left: 10vw !important;
    padding-bottom: 7vw !important;
}
.pad-about img {
    width: 30px;
}
.about-2 {
    padding-left: 35vw !important;
    padding-top: 20vh !important;
    padding-right: 6vw !important;
}
.about-4 {
    border: none !important;
}
.about-3 {
    padding-left: 5vw !important;
    padding-top: 20vh !important;
    padding-right: 5vw !important;
}

.about-4 {
    padding-left: 30vw !important;
    padding-top: 20vh !important;
    padding-right: 5vw !important;
}
.about-bottom {
    max-width: 100%;
    margin-top: 20vh !important;
    background-image: url("https://assets-global.website-files.com/615b66ec9bfbd548ea22bcf0/615e1d995a9284dd2e73f90f_office-hero-long.jpg");
    background-repeat: no-repeat;
    background-size: cover;
height: 100%;
}

/* WORK */
.tests {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-image: url("https://assets-global.website-files.com/615b66ec9bfbd548ea22bcf0/6165ecee83e6c8c9932cf144_img-3-Gradiant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.top-work {
    height: 100%;

    object-fit: cover;
    background-image: url("https://assets-global.website-files.com/615b66ec9bfbd548ea22bcf0/6165ecee83e6c8c9932cf144_img-3-Gradiant.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.top-work1 {
    height: 100%;

    object-fit: cover;
    background-image: url("https://assets-global.website-files.com/615b66ec9bfbd548ea22bcf0/6164c2eda1c7f5658c1c3a0f_dash-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.top-work2 {
    height: 100%;

    object-fit: cover;
    background-image: url("https://assets-global.website-files.com/615b66ec9bfbd548ea22bcf0/61611f8d2f95b1f0b2266b0e_ada-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.top-work3 {
    height: 100%;

    object-fit: cover;
    background-image: url("https://assets-global.website-files.com/615b66ec9bfbd548ea22bcf0/6164c2eeb939834364c3d095_ev-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
/* 
  .snap{
    height: 100vh!important;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
  } */

.top-work .big-text {
    margin-bottom: 20vh;
}

.pad-work {
  padding-left: 10vw !important;
  padding-bottom: 7vh !important;
}

.pad-work2 {
  padding-top: 20vh;
  padding-left: 10vw !important;
  padding-bottom: 7vh !important;
}
.pad-work img {
    width: 30px;

}

@media only screen and (max-width: 600px) {
    .mob{
       
        display: block;
    }

    .mob .nav-link{
        font-size: 24px!important;
    }
    .nav-test{
    padding: 5vh 5vh 5vh 5vh !important;
   }
   
    .big-text h1{
    font-size: 3em;

   }
   .big-text h3{
    font-size: 1.2em;
    margin-right: 10vw;
   }


    .gap-text{
    padding-top: 5vh!important;
   }

   .gap-texts{
    padding-top: 3vh!important;
   }
   .about-2 {
    padding-left: 5vw!important;

   }

   .about-3 .btn{
    display: none;
   }

   .foot{
    padding: 0!important;
    display: flex;
    flex-direction: column;

   }
.about-bottom{
    height: 100%!important;
    width: 100%!important;
    object-fit:none;
}

.pad-work2 {
padding-top: 40vh;
  }

  #fullpage {
    width: 100%;
}



  }

  @media only screen and (max-width: 1200px) {
    .nav-test{
     padding: 5vh 5vh 5vh 5vh !important;
    }
    
    .cent{
       display: flex;
       align-items: center;
       justify-content: center;
    }
    
 
 
    .gap-text{
        padding-top: 5vh!important;
       }
 

    .gaps{
        display: grid!important;
        grid-auto-rows: max-content!important;
    }
    .about-2 {
     padding-left: 5vw!important;
 
    }
 
    .about-3 .btn{
     display: none;
    }
 
.gap-temp{
    padding-right: 1000px!important;
    margin-right: 1000px!important;
}
 .about-bottom{
     height: 100%!important;
     width: 100%!important;
     object-fit:none;
 }
 
 .pad-work2 {
 padding-top: 40vh;
   }
 
   #fullpage {
     width: 100%;
 }
 
 
 
   } 
  


/* .one-scroll {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}



.parallax-section {
   
    background-image: url("https://assets-global.website-files.com/615debf1cfbb412003bad8aa/615e21cb2c45d0327ec6940d_hero1.jpg");

    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  */
